@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.box{
    display: flex;
    justify-content : center;
    width: 100%;
    height: 950px;
}

.box1{
    background-color: #fff;
    
}

.box2{
    background-color: #D4D3DB;
}

.box3{
    background-color: #F5DB6E;
}

.box4{
    background-color: #000000;
    background-image: url('img/c_05.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap{
    position: absolute;
    display: block;
    width: 1100px;
    height: 950px;
}




.wrap1{
    
}

.img_posi1{
    position: inherit;
    left: 129px ;
    top: 124px;
}

.img_posi2{
    position: inherit;
    right: 131px;
    top : 124px;
}

.b1_cont{
    width: 200px;
    height: 30px;
    text-align: right;
    position: inherit;
    bottom: 95px;
    left: 194px;
    
    font-style: Noto Sans KR;
    font-weight: 400;
    font-size: 12px;
    color: black;
    letter-spacing: -0.04em;
    line-height: 1.625;
}
 


.wrap2{
    background-image: url('img/c_03.png'); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom; 
    display: flex;
    justify-content: center;
}
 
.b2_cont{
    top: 100px;
    position: inherit;
    width: 938px;
    
    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 14px;
    color: black;
    letter-spacing: -0.06em;
    line-height: 1.6;
    
}


    
.wrap3{
    background-image: url('img/c_04.png'); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;   
    display: flex;
    justify-content: center; 
}

.b3_cont{
    top: 75px;
    position: inherit;
    width: 938px;
    
    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 14px;
    color: black;
    letter-spacing: -0.06em;
    line-height: 1.6;
}



.wrap4{
    display: flex;
    justify-content: center; 
    
}
.b4_cont01{
    top: 76px;
    position: inherit;
    width: 938px;
    
    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 12px;
    color: white;
    letter-spacing: -0.06em;
    line-height: 1.6;
}

.b4_cont02{
    position: inherit;
    bottom: 346px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.b4_cont03{
    width: 100%;
    bottom: 260px;
    position: inherit;
    text-align: center;
    
    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 15px;
    color: white;
    letter-spacing: -0.06em;
    line-height: 1.6;
}

.b4_cont04{
    width: 100%;
    bottom: 168px;
    position: inherit;
    text-align: center;
    
    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 15px;
    color: white;
    letter-spacing: -0.06em;
    line-height: 1.6;
}

.b4_cont05{
    top: 817px;
    width: 100%;
    position: inherit;
    display: flex;
    justify-content: center;
}

.b4_cont05>a>img:hover{filter: drop-shadow(0px 0px 8px #ffffff);}